@page
@model IndexModel
@inject SpotifyClientBuilder spotifyBuilder



<div class="text-center">
   
    <h1 class="new-releases-title">Najnowsze premiery:</h1>
    <div class="new-releases">
        @{
            bool isAlbumOnLeft = true;
            foreach (var album in Model.NewReleases)
            {
                <div class="album-container" style="flex-direction: @(isAlbumOnLeft ? "row" : "row-reverse")">
                    <div class="album-info">
                        @if (album.Images.Any())
                        {
                            <img src="@album.Images[0].Url" alt="@album.Name by @album.Artists[0].Name">
                        }
                    </div>
                    <div class="album-info">
                        <h3>@album.Artists[0].Name</h3>
                        <p>@album.Name</p>
                    </div>
                    <div class="spotify-button">
                        <a href="@album.ExternalUrls["spotify"]" target="_blank">
                            <img src="~/spotify.png" class="listen spotify-btn" alt="Go to Spotify Album" width="50" height="50" />
                        </a>
                    </div>
                </div>

                isAlbumOnLeft = !isAlbumOnLeft;
            }
        }
    </div>
</div>
