@page
@model Spoti.Pages.MyAlbumsModel
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">

</head>
<style>
   
</style>
<h2 class="my-4">Lista albumów</h2>
<table class="table table-striped table-hover album-table">
    <thead>
        <tr>
            <th scope="col">
                Album
                <i class="fa fa-sort ml-2"></i>
            </th>
            <th scope="col">
                Artysta
                <i class="fa fa-sort ml-2"></i>
            </th>
            <th scope="col">
                Ocena
                <i class="fa fa-sort ml-2"></i>
            </th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var album in Model.UserAlbums)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@album.ImageUrl" alt="Album cover" class="album-cover" />
                        <span>@album.Name</span>
                    </div>
                </td>
                <td>@album.Artist</td>
                <td>
                    <span>
                        @for (int i = 0; i < @album.Rating; i++)
                        {
                            <i class="fa-solid fa-star" style="color: #ffd700;"></i>
                        }
                    </span>
                </td>

                <td>
                    <div class="table-actions">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ratingModal" data-albumid="@album.Id" data-name="@album.Name" data-artist="@album.Artist" data-rating="@album.Rating" data-spotifyalbumid="@album.SpotifyAlbumId" data-imageurl="@album.ImageUrl">
                            Edytuj ocenę
                        </button>

                        <form method="post" class="d-inline">
                            <input type="hidden" name="albumId" value="@album.Id" />
                            <button type="submit" asp-page-handler="DeleteAlbum" class="btn btn-danger">Usuń</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ratingModalLabel">Edytuj Ocene Albumu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <input type="hidden" id="modalAlbumId" name="albumId" />
                    <div class="form-group">
                        <label for="rating">Ocena:</label>
                        <div id="star-rating" class="star-rating"></div>
                        <input type="hidden" id="rating" name="rating" class="rating" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <button type="submit" asp-page-handler="EditAlbumRating" class="btn btn-primary">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#star-rating').raty({
                half: false,
                starType: 'i',
                score: 0,
                iconClasses: {
                    base: 'fa',
                    starEmpty: 'fa-star-o',
                    starHalf: 'fa-star-half-o',
                    starFull: 'fa-star'
                },
                click: function (score) {
                    $('#rating').val(score);
                    console.log(score);
                }
            });

            $('#ratingModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var albumId = button.data('albumid');
                var name = button.data('name');
                var artist = button.data('artist');
                var imageUrl = button.data('imageurl');

                var modal = $(this);
                modal.find('#modalAlbumId').val(albumId);
                modal.find('#modalName').val(name);
                modal.find('#modalArtist').val(artist);
                modal.find('#modalImageUrl').val(imageUrl);

                $('#star-rating').raty('set', { score: 0 });
            });


            // Dodaj event listener dla zdarzenia "submit" formularza
            $('#ratingForm').on('submit', function (event) {
                // Ustaw wartość inputu "rating" przed wysłaniem formularza
                var currentScore = $('#star-rating').raty('score');
                $('#rating').val(currentScore);
            });
            function sortTable(columnIndex, compareFunction) {
                var table = $('.album-table tbody');
                var rows = table.find('tr').toArray();

                rows.sort(function (a, b) {
                    var aValue, bValue;
                    if (columnIndex === 2) { // sortuj po ocenie
                        // wartość oceny to ilość wypełnionych gwiazdek
                        aValue = $(a).find('.fa-star').length;
                        bValue = $(b).find('.fa-star').length;
                    } else { // sortuj alfabetycznie po nazwie albumu lub artyście
                        aValue = $(a).find('td').eq(columnIndex).text().toLowerCase();
                        bValue = $(b).find('td').eq(columnIndex).text().toLowerCase();
                    }
                    return compareFunction(aValue, bValue);
                });

                $.each(rows, function (index, row) {
                    table.append(row);
                });
            }

            $('.album-table th').click(function () {
                var columnIndex = $(this).index();
                var sortOrder = $(this).data('sort-order') || 'asc';

                if (sortOrder === 'asc') {
                    sortTable(columnIndex, function (a, b) {
                        return a < b ? -1 : a > b ? 1 : 0;
                    });
                    $(this).data('sort-order', 'desc');
                    $(this).find('.fa-sort').removeClass('fa-sort').addClass('fa-sort-up');
                } else {
                    sortTable(columnIndex, function (a, b) {
                        return a > b ? -1 : a < b ? 1 : 0;
                    });
                    $(this).data('sort-order', 'asc');
                    $(this).find('.fa-sort-up').removeClass('fa-sort-up').addClass('fa-sort');
                }

                $(this).siblings().data('sort-order', null);
                $(this).siblings().find('.fa-sort-up').removeClass('fa-sort-up').addClass('fa-sort');
                $(this).siblings().find('.fa-sort').removeClass('fa-sort').addClass('fa-sort-down');
            });
        });
    </script>
}