@page
@model Spoti.Pages.MyAlbumsModel

<style>
   
</style>
<h2 class="my-4">Lista albumów</h2>
<table class="table table-striped table-hover album-table">
    <thead>
        <tr>
            <th scope="col">
                Album
                <i class="fa fa-sort ml-2"></i>
            </th>
            <th scope="col">
                Artysta
                <i class="fa fa-sort ml-2"></i>
            </th>
            <th scope="col">
                Ocena
                <i class="fa fa-sort ml-2"></i>
            </th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var album in Model.UserAlbums)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@album.ImageUrl" alt="Album cover" class="album-cover" />
                        <span>@album.Name</span>
                    </div>
                </td>
                <td>@album.Artist</td>
                <td>@album.Rating</td>
                <td>
                    <div class="table-actions">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ratingModal" data-albumid="@album.Id" data-name="@album.Name" data-artist="@album.Artist" data-rating="@album.Rating">
                            Edytuj ocenę
                        </button>
                        <form method="post" class="d-inline">
                            <input type="hidden" name="albumId" value="@album.Id" />
                            <button type="submit" asp-page-handler="DeleteAlbum" class="btn btn-danger">Usuń</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ratingModalLabel">Edytuj Ocene Albumu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <input type="hidden" id="modalAlbumId" name="albumId" />
                    <div class="form-group">
                        <label for="rating">Rating (0-10):</label>
                        <select class="form-control" id="rating" name="rating">
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <button type="submit" asp-page-handler="EditAlbumRating" class="btn btn-primary">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ratingModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var albumId = button.data('albumid');
                var name = button.data('name');
                var artist = button.data('artist');
                var rating = button.data('rating');

                var modal = $(this);
                modal.find('#modalAlbumId').val(albumId);
                modal.find('#rating').val(rating);
            });
            function sortTable(columnIndex, compareFunction) {
                var table = $('.album-table tbody');
                var rows = table.find('tr').toArray();

                rows.sort(function (a, b) {
                    var aValue = $(a).find('td:nth-child(' + columnIndex + ')').text();
                    var bValue = $(b).find('td:nth-child(' + columnIndex + ')').text();

                    return compareFunction(aValue, bValue);
                });

                rows.forEach(function (row) {
                    table.append(row);
                });
            }

            var albumSortDescending = true;
            $('th:nth-child(1)').on('click', function () {
                sortTable(1, albumSortDescending ? (a, b) => b.localeCompare(a) : (a, b) => a.localeCompare(b));
                albumSortDescending = !albumSortDescending;
            });

            var artistSortDescending = true;
            $('th:nth-child(2)').on('click', function () {
                sortTable(2, artistSortDescending ? (a, b) => b.localeCompare(a) : (a, b) => a.localeCompare(b));
                artistSortDescending = !artistSortDescending;
            });

            var ratingSortDescending = true;
            $('th:nth-child(3)').on('click', function () {
                sortTable(3, ratingSortDescending ? (a, b) => parseInt(b) - parseInt(a) : (a, b) => parseInt(a) - parseInt(b));
                ratingSortDescending = !ratingSortDescending;
            });
        });
    </script>
}