@page
@model Spoti.Pages.ProfileModel

<div class="container">
    <div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ratingModalLabel">Oceń album</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="ratingForm" method="post">
                    <div class="modal-body">
                        <input type="hidden" id="modalSpotifyAlbumId" name="spotifyAlbumId" />
                        <input type="hidden" id="modalName" name="name" />
                        <input type="hidden" id="modalArtist" name="artist" />
                        <input type="hidden" id="modalImageUrl" name="imageUrl" />
                        <div class="form-group">
                            <label for="rating">Ocena (1-10):</label>
                            <select class="form-control" id="rating" name="rating">
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <button type="submit" asp-page-handler="SaveAlbum" class="btn btn-primary">Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="row">
        @{
            int count = 0;
            foreach (var album in Model.LastFiveAlbums)
            {
                if (count % 3 == 0 && count > 0)
                {
                    @:</div><div class="row">
                }
                <div class="col-md-4 mt-3">
                    <div class="card-group">
                        <div class="card m-2">
                            <img class="card-img-top" src="@album.Images[0].Url" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@album.Name</h5>
                                <p class="card-text">@album.Artists[0].Name.</p>
                                @{
    var ratedAlbum = Model.RatedAlbums.FirstOrDefault(ra => ra.SpotifyAlbumId == album.Id);
    if (ratedAlbum == null)
    {
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ratingModal" data-spotifyalbumid="@album.Id" data-name="@album.Name" data-artist="@album.Artists[0].Name" data-imageurl="@album.Images[0].Url">Dodaj do listy!</button>
    }
    else
    {
        <p>Ocena: @ratedAlbum.Rating</p>
    }
}

                            </div>
                        </div>
                    </div>
                </div>
                count++;
            }
        }
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ratingModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); 
                var spotifyAlbumId = button.data('spotifyalbumid');
                var name = button.data('name');
                var artist = button.data('artist');
                var imageUrl = button.data('imageurl');

                var modal = $(this);
                modal.find('#modalSpotifyAlbumId').val(spotifyAlbumId);
                modal.find('#modalName').val(name);
                modal.find('#modalArtist').val(artist);
                modal.find('#modalImageUrl').val(imageUrl);
            });
        });
    </script>
}
