@page
@model Spoti.Pages.ProfileModel


<div class="container">
    <div class="row">
        @{
            int count = 0;
            foreach (var album in Model.LastFiveAlbums)
            {
                if (count % 3 == 0 && count > 0)
                {
                    @:</div><div class="row">
                }
                <div class="col-md-4 mt-3">
                    <div class="card-group">
                        <div class="card m-2">
                            <img class="card-img-top" src="@album.Images[0].Url" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@album.Name</h5>
                                <p class="card-text">@album.Artists[0].Name.</p>
                                  <form method="post">
        <input type="hidden" name="spotifyAlbumId" value="@album.Id" />
        <input type="hidden" name="name" value="@album.Name" />
        <input type="hidden" name="artist" value="@album.Artists[0].Name" />
        <input type="hidden" name="imageUrl" value="@album.Images[0].Url" />
        <button type="submit" asp-page-handler="SaveAlbum" class="btn btn-primary">Add to My Albums</button>
    </form>
                            </div>
                        </div>
                    </div>
                </div>
                count++;
            }
        }
    </div>
</div>

<form method="post">
    <button type="submit">Logout</button>
</form>
