@page
@model Spoti.Pages.RecommendationsModel
@{
    ViewData["Title"] = "Recommendations";
}

<div class="container">
    <h2 class="mt-4 mb-4">Recommended Tracks</h2>
    <div class="row">
        @foreach (var track in Model.RecommendedTracks)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@track.Album.Images.First().Url" class="card-img-top" alt="@track.Name">
                    <div class="card-body">
                        <h5 class="card-title">@track.Name</h5>
                        <p class="card-text">@track.Artists.First().Name</p>
                        <a href="@track.ExternalUrls["spotify"]" target="_blank" class="btn btn-primary">Listen on Spotify</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
