@page
@model Spoti.Pages.RecommendationsModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-4 mb-4">Rekomendacje</h2>
            <div class="mb-4">
                <a href="?recommendationType=recent" class="btn btn-primary">Ostatnio przesłuchane</a>
                <a href="?recommendationType=top" class="btn btn-primary">Ulubione</a>
                <a asp-page-handler="CreatePlaylist" class="btn btn-success">Stwórz playlistę</a>

                



            </div>
            @if (Model.NotEnoughListenedTracks)
            {
                <h3 class="mb-4">Za mało przesłuchanych utworów, lista popularnych albumów:</h3>
            }
            else
            {
                <h3 class="mb-4">Polecane albumy</h3>
            }
            <div class="row">
                @foreach (var album in Model.RecommendedAlbums)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="@album.Images.First().Url" class="card-img-top" alt="@album.Name">
                            <div class="card-body">
                                <h5 class="card-title">@album.Name</h5>
                                <p class="card-text">@album.Artists.First().Name</p>
                                <a href="@album.ExternalUrls["spotify"]" target="_blank" class="btn btn-primary">Listen on Spotify</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
